@import "../styles/mixins.scss";

//----------HeroBanner---------//

.heroBanner{
    position: relative;
    width: 100%;
    height: 450px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    @include md{
        height: 700px;
    }
    .image{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.6;
        overflow: hidden;
        .lazy-load-image-background{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .layer{
        position: absolute;
        width: 100%;
        height: 200px;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(4,21,45,0) 0%, #0d1014 83%);
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(219, 219, 219);
        text-align: center;
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        .title{
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 10px;
            @include md{
                margin-bottom: 0;
                font-size: 70px;
            }
        }
        .subTitle{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 40px;
            color: rgb(190, 184, 184);
            @include md{
                font-size: 24;
            }
        }
        .search{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            input{
                width: calc(80% - 50px);
                height: 40px;
                background-color: rgb(222, 215, 215);
                outline: 0;
                border: 0;
                border-radius: 30px 0 0 30px;
                padding: 0 15px;
                font-size: 14px;
                @include md{
                    width: calc(80% - 80px);
                    height: 50px;
                    font-size: 18px;
                    padding: 0 30px;   
                }
            }
            .heroBtn{
                width: 100px;
                height: 40px;
                background: var(--gradient);
                color: white;
                outline: 0;
                border: 0;
                border-radius: 0 30px 30px 0;
                font-size: 16px;
                cursor: pointer;
                @include md{
                    width: 100px;
                    height: 50px;
                    // font-size: 100px;
                }
            }
        }
    }
}

// --------Content-----------//

.contentWrap{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

// ----------Header----------//
.header {
    position: fixed;
    transform: translateY(0);
    width: 100%;
    height: 60px;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
    z-index: 2;
    &.top {
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
    }
    &.show {
        background-color: var(--black3);
    }
    &.hide {
        transform: translateY(-60px);
    }

    .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        cursor: pointer;
        img {
            height: 50px;
        }
    }
    .menuItems {
        list-style-type: none;
        display: none;
        align-items: center;
        justify-content: flex-end;
        margin-top: -30px;
        @include md {
            display: flex;
        }
        .menuItem {
            display: flex;
            align-items: center;
            margin: 0 15px;
            color: white;
            font-weight: 500;
            position: relative;
            &.searchIcon {
                margin-right: 0;
            }
            svg {
                font-size: 18px;
            }
            cursor: pointer;
            &:hover {
                color: var(--green);
            }
        }
    }

    .mobileMenuItems {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: -35px;
        gap: 20px;
        @include md {
            display: none;
        }
        svg {
            font-size: 18px;
            color: rgb(232, 227, 227);
        }
        cursor: pointer;  
    }

    &.mobileView {
        background: var(--black3);
        .menuItems {
            display: flex;
            position: absolute;
            top: 90px;
            left: 0;
            background: var(--black3);
            flex-direction: column;
            width: 100%;
            padding: 20px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            animation: mobileMenu 0.3s ease forwards;
            .menuItem {
                font-size: 20px;
                width: 100%;
                height: auto;
                padding: 15px 20px;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &:last-child {
                    display: none;
                }
            }
        }
    }

    .searchBar {
        width: 100%;
        height: 60px;
        background-color: white;
        position: absolute;
        top: 60px;
        animation: mobileMenu 0.3s ease forwards;
        .searchInput {
            display: flex;
            align-items: center;
            height: 40px;
            margin-top: 10px;
            width: 100%;
            svg {
                font-size: 20px;
                flex-shrink: 0;
                margin-left: 10px;
                cursor: pointer;
            }
            &:hover {
                color: red;
            }
            input {
                width: 100%;
                height: 50px;
                background-color: white;
                outline: 0;
                border: 0;
                border-radius: 30px 0 0 30px;
                padding: 0 15px;
                font-size: 14px;
                @include md {
                    height: 60px;
                    font-size: 20px;
                    padding: 0 30px;
                }
            }
        }
    }
}

@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }
    100% {
        transform: translateY(0);
    }
}

// --------------Footer----------//